body {
  margin: 0;
  padding: 0;
  background-color: #37333a;
  display: flex;
  font-family: 'Quicksand';
  font-weight: bold;
  height: 100%;
  font-size: 3vh;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.players {
  width: 25vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  margin: 70px;
  margin-left: 150px;
  background-color: #2c2c2c;
}
/* ---------Players--------- */
.players {
  justify-content: center;
  text-align: center;
}
.avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  max-width: 80px;
  max-height: 80px;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: #fff;
}
.nickname {
  font-size: 3vh;
  color: white;
}
.cash {
  font-size: 3vh;
  color: white;
}
.cash::before {
  content: "$";
}
.cash::after {
  content: "k";
}
#player-1 .avatar {
  border: 5px solid goldenrod;
  background: url(../img/nikita.png) no-repeat;
  background-size: cover;
}
#player-2 .avatar {
  border: 5px solid #319e6b;
  background: url(../img/kostya.png) no-repeat;
  background-size: cover;
}
#player-3 .avatar {
  border: 5px solid #9e3e89;
  background: url(../img/roma.png) no-repeat;
  background-size: cover;
}
/*  ----------game-field---------- */
.gamebox {
  margin-left: 50px;
  margin-top: 5vh;
  margin-bottom: 4vh;
  background-color: rgba(92, 77, 102, 0.432);
  width: auto;
  height: auto;
}
.main-row {
  display: flex;
}
.main-field {
  width: 13vh;
  height: 13vh;
  background-color: khaki;
  margin: 1px;
}
.vertical-field {
  width: 7vh;
  height: 13vh;
  background-color: lightgray;
  margin: 1px;
}
.second-row {
  display: flex;
}
.horizontal-field {
  width: 13vh;
  height: 7vh;
  background-color: lightgray;
  margin: 1px;
}
.horizontal-field:last-child {
  margin-left: auto;
}
/* --------Cards-------- */
#card-0 {
  background: url(../img/start.png);
  background-size: cover;
}
#card-1 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-2 {
  background: url(../img/question.jpg);
  background-size: cover;
}
#card-3 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-4 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-5 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-6 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-7 {
  background: url(../img/question.jpg);
  background-size: cover;
}
#card-8 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-9 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-10 {
  background: url(../img/prison.png);
  background-size: cover;
}
#card-11 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-12 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-13 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-14 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-15 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-16 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-17 {
  background: url(../img/question-right.jpg);
  background-size: cover;
}
#card-18 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-19 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-20 {
  background: url(../img/ps.jpg);
  background-size: cover;
}
#card-21 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-22 {
  background: url(../img/question.jpg);
  background-size: cover;
}
#card-23 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-24 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-25 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-26 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-27 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-28 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-29 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-30 {
  background: url(../img/polise.jpg);
  background-size: cover;
}
#card-31 {
  background: url(../img/2.png) #fff;
  background-size: cover;
}
#card-32 {
  background: url(../img/3.png) #fff;
  background-size: cover;
}
#card-33 {
  background: url(../img/question-left.jpg);
  background-size: cover;
}
#card-34 {
  background: url(../img/4.png) #fff;
  background-size: cover;
}
#card-35 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-36 {
  background: url(../img/1.png);
  background-size: cover;
}
#card-37 {
  background: url(../img/5.png) #fff;
  background-size: cover;
}
#card-38 {
  background: url(../img/question-left.jpg);
  background-size: cover;
}
#card-39 {
  background: url(../img/6.png) #fff;
  background-size: cover;
}
